// These can be included where the original elements are. Not sure it's worth it for this job, to go in and add them in,
// just good to know for future reference.

// So for example: 

//    .hover-copy {
// 	   your regular styles
// 	   p {
// 		   your regular styles
// 		   }
		
//    .no-borderimage & {
// 	   border-width: 0 0 3px;
// 		   p {
// 			   border-width: 9px 0 0;
// 			   }
// 	   }// .no-borderimage

//    }// .hover-copy


.no-borderimage{
	.hover-copy{
		border-width: 0px 0px 3px;
		p{
			border-width: 9px 0px 0px;
		}
	}
}

.no-backgroundsize{

	img.bg{
		display:block;
	}

	.services, .services img.bg{
		min-height:1100px;
	}
	.product-gallery, .gallery-rotator, .slide, .product-gallery img.bg{
		min-height:865px;
	}
	.page-section{
		background-image:none;
	}
}

.lt-ie9{
	/*
	.more-info{
		display:none;
	}

	.section-header{
		cursor: auto !important ;
	}
	*/
}