/*********************
CLEARFIXIN'
*********************/

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

.clear { clear: both; }

/*********************
TOOLS
*********************/

// BORDER-BOX ALL THE THINGS! (http://paulirish.com/2012/box-sizing-border-box-ftw/)
* { 
	@include box-sizing(border-box);
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}



/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #565656;
$gray: lighten($black, 20%);
$white:             #fff;

$accent: #044e89;

$font-color: silver;
$background-color: whitesmoke;


$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$link-color:        $accent;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/



/*********************
UNITS
*********************/
$site-width: 1216px;

$margin: 1.5em;
$marginhalf: (.5 * $margin);
$marginquarter: (.25 * $margin);
$margin2x: (2 * $margin);
$margin3x: (3 * $margin);
$margin4x: (4 * $margin);


/*********************
BREAKPOINTS
*********************/
$phone: 1em;
$phone-landscape: 25em;
$tablet: 600px;
$desktop: 900px;



/*********************
TYPOGRAPHY
*********************/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


// font-size
@mixin font-size( $decimal-size, $keyword: null ) {
  $base-font-multiplier: 1;
  @if $keyword { font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px; }
  font-size: $decimal-size * 1rem;
}


/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


// alerts and notices
%alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

.alert-help {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}

/*********************
TRANISTION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
@mixin hovers($time: .2s, $function: ease-in-out) {
  @include transition-property(all);
  @include transition-duration($time);
  @include transition-timing-function($function);
}


/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}




@media only screen and (min-width: 600px) {

	// Grid 
	
	.onecol    { width: 5.801104972%;  }       /* 4.85%;  } /* grid_1  */
	.twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.sevencol  { width: 57.182320438000005%; } /* 56.75%; } /* grid_7  */
	.eightcol  { width: 65.74585634900001%; }  /* 65.4%;  } /* grid_8  */
	.ninecol   { width: 74.30939226%; }        /* 74.05%; } /* grid_9  */
	.tencol    { width: 82.87292817100001%; }  /* 82.7%;  } /* grid_10 */
	.elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */
	
	// layout & column defaults
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	  position: relative;
	  float: left;
	  margin-left: 2.762430939%;
	}
	
	.first {
	  margin-left: 0;
	}
	
	.last {
	  float: right;
	}

}// * BP
